@import url('https://fonts.googleapis.com/css?family=Lato:700,400');


.trombotemplate {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 2095px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.trombotemplate .subscribe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1601px;
  height              : 54px;
  width               : 610px;
  position            : absolute;
  margin              : 0;
  left                : 2959px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .subscribe .subscribe1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 54px;
  width               : 610px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 6px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .subscribe .subscribe1 .mask {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 54px;
  width               : 610px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .subscribe .subscribe1 .enteryouremail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(119, 144, 155, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 14.0px;
}
.trombotemplate .subscribe .subscribe1 .rectangle14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 410px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .subscribe .subscribe1 .signup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 479px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.3px;
  line-height         : 14.0px;
}
.trombotemplate .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2027px;
  height              : 57px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .footer .rectangle19 {
  background-color    : rgba(244, 247, 248, 1.0);
  top                 : 0px;
  height              : 57px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .footer .mensionlegales {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 192px;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(184, 186, 187, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 15.0px;
}
.trombotemplate .footer .mensionlegalescopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 192px;
  position            : absolute;
  margin              : 0;
  left                : 418px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(184, 186, 187, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 15.0px;
}
.trombotemplate .footer .mensionlegalescopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 192px;
  position            : absolute;
  margin              : 0;
  left                : 721px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(184, 186, 187, 1.0);
  text-align          : center;
  letter-spacing      : 0.23px;
  line-height         : 15.0px;
}
.trombotemplate .bigvisitcard1:hover {
  background-color    : rgba(255,255,255,0.0);
  
}
.trombotemplate .bigvisitcard1:hover .rectangle2 {
  box-sizing          : border-box;
  position            : relative;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(121, 151, 165, 0.2);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .bigvisitcard2:hover {
  background-color    : rgba(255,255,255,0.0);
  
}
.trombotemplate .bigvisitcard2:hover .rectangle2 {
  box-sizing          : border-box;
  position            : relative;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(121, 151, 165, 0.2);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .bigvisitcard2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : 218px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 708px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .bigvisitcard2 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 218px;
  box-sizing          : border-box;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(228, 230, 231, 0.5);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .bigvisitcard2 .commission {
  background-color    : rgba(255,255,255,0.0);
  top                 : 169px;
  height              : 17px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(159, 163, 165, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 13.0px;
}
.trombotemplate .bigvisitcard2 .stnazaire {
  background-color    : rgba(255,255,255,0.0);
  top                 : 155px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(28, 176, 228, 1.0);
  text-align          : center;
  letter-spacing      : 0.3px;
  line-height         : 15.0px;
}
.trombotemplate .bigvisitcard2 .prenom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 119px;
  height              : 22px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(75, 77, 78, 1.0);
  text-align          : center;
  letter-spacing      : 0.51px;
  line-height         : 13.0px;
}
.trombotemplate .bigvisitcard2 .photooval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 102px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .bigvisitcard2 .connectedovaltrue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 112px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .bigvisitcard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : 218px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 512px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .bigvisitcard1 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 218px;
  box-sizing          : border-box;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(228, 230, 231, 0.5);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .bigvisitcard1 .commission {
  background-color    : rgba(255,255,255,0.0);
  top                 : 169px;
  height              : 17px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(159, 163, 165, 1.0);
  text-align          : center;
  letter-spacing      : 0.28px;
  line-height         : 13.0px;
}
.trombotemplate .bigvisitcard1 .stnazaire {
  background-color    : rgba(255,255,255,0.0);
  top                 : 155px;
  height              : auto;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(28, 176, 228, 1.0);
  text-align          : center;
  letter-spacing      : 0.3px;
  line-height         : 15.0px;
}
.trombotemplate .bigvisitcard1 .prenom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 119px;
  height              : 22px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(75, 77, 78, 1.0);
  text-align          : center;
  letter-spacing      : 0.51px;
  line-height         : 13.0px;
}
.trombotemplate .bigvisitcard1 .photooval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 102px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .bigvisitcard1 .groupicone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 112px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard1:hover {
  background-color    : rgba(255,255,255,0.0);
  
}
.trombotemplate .smallvisitcard1:hover .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  box-sizing          : border-box;
  position            : relative;
  margin              : 0;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(120, 151, 165, 0.2);
}
.trombotemplate .smallvisitcard2:hover {
  background-color    : rgba(255,255,255,0.0);
}
.trombotemplate .smallvisitcard2:hover .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  box-sizing          : border-box;
  position            : relative;
  margin              : 0;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 3px;
  border-color        : rgba(120, 151, 165, 0.2);
}
.trombotemplate .smallvisitcard2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 279px;
  height              : 77px;
  width               : 316px;
  position            : absolute;
  margin              : 0;
  left                : 131px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard2 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 77px;
  box-sizing          : border-box;
  width               : 316px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(228, 230, 231, 0.5);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard2 .departement {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(166, 166, 163, 1.0);
  text-align          : left;
  letter-spacing      : 0.28px;
  line-height         : 13.0px;
}
.trombotemplate .smallvisitcard2 .prenomnomdefamille {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(119, 123, 125, 1.0);
  text-align          : left;
  letter-spacing      : 0.28px;
  line-height         : 13.0px;
}
.trombotemplate .smallvisitcard2 .photoovaldefault {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard2 .photooval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard2 .connectedovalfalse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : 77px;
  width               : 316px;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard1 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 77px;
  box-sizing          : border-box;
  width               : 316px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(228, 230, 231, 0.5);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard1 .departement {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 11.0px;
  color               : rgba(166, 166, 163, 1.0);
  text-align          : left;
  letter-spacing      : 0.28px;
  line-height         : 13.0px;
}
.trombotemplate .smallvisitcard1 .prenomnomdefamille {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(119, 123, 125, 1.0);
  text-align          : left;
  letter-spacing      : 0.28px;
  line-height         : 13.0px;
}
.trombotemplate .smallvisitcard1 .photoovaldefault {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard1 .photooval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard1 .connectedovalfalse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .smallvisitcard1 .connectedovaltrue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .searchresultsbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 71px;
  width               : 953px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewcards {
  background-color    : rgba(255,255,255,0.0);
  top                 : 76px;
  height              : 24px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewcards .rectanglelist {
  background-color    : rgba(250, 253, 255, 1.0);
  top                 : 0px;
  height              : 24px;
  box-sizing          : border-box;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(87, 167, 212, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewcards .iconcardsviewactiv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewcards .iconcardsviewactiv .iconcardsviewactiv1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewcards .iconlistviewdezactiv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 9px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewcards .iconlistviewdezactiv .iconlistviewdezactiv1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 9px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewlist {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 24px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewlist .rectanglecards {
  background-color    : rgba(250, 253, 255, 1.0);
  top                 : 0px;
  height              : 24px;
  box-sizing          : border-box;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(87, 167, 212, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewlist .iconcardsviewdezactiv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 11px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewlist .iconcardsviewdezactiv .iconcardsviewdezactiv1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 11px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewlist .iconlistviewactiv {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 23px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .viewlist .iconlistviewactiv .iconlistviewactiv1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarverticalbleu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2095px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarverticalbleu .rectangle {
  background-color    : rgba(87, 167, 212, 1.0);
  top                 : 0px;
  height              : 2095px;
  box-sizing          : border-box;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(87, 167, 212, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarverticalbleu .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 34px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarverticalbleu .image3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 29px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : 453px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconsstats {
  background-color    : rgba(255,255,255,0.0);
  top                 : 431px;
  height              : 21px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconsstats .iconsstats1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 22px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconstrello {
  background-color    : rgba(255,255,255,0.0);
  top                 : 362px;
  height              : 23px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconstrello .iconstrello1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconsgit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 287px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconsgit .iconsgit1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconsagenda {
  background-color    : rgba(255,255,255,0.0);
  top                 : 143px;
  height              : 24px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconsagenda .iconsagenda1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconschat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 215px;
  height              : 23px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconspeople {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconspeople .iconspeople1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconsmyprofile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbaricons .iconsmyprofile .iconsmyprofile1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 23px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarhorizontalwithsearch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 954px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarhorizontalwithsearch .rectangle19 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 60px;
  box-sizing          : border-box;
  width               : 954px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(207, 216, 220, 0.5);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarhorizontalwithsearch .loginame {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 803px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(154, 169, 185, 1.0);
  text-align          : right;
  letter-spacing      : 0.2px;
  line-height         : 14.0px;
}
.trombotemplate .navbarhorizontalwithsearch .search {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : auto;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Lato", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(119, 123, 126, 0.55);
  text-align          : left;
  letter-spacing      : 0.2px;
  line-height         : 11.0px;
}
.trombotemplate .navbarhorizontalwithsearch .iconssearch2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarhorizontalwithsearch .iconssearch2 .iconssearch21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarhorizontalwithsearch .iconsuser {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 30px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 911px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarhorizontalwithsearch .iconsuser .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarhorizontalwithsearch .iconsuser .iconsuser1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 17px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarhorizontalwithsearch .iconsuser .iconsuser1 .iconsuser2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.trombotemplate .navbarhorizontalwithsearch .iconsaccount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 30px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 795px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}