<svelte:head>
  <title>{status} | {config.title}</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">{status}</h1>

<p>{error.message}</p>

{#if dev && error.stack}
  <pre class="whitespace-pre-wrap">{error.stack}</pre>
{/if}

<script>
  import config from "../config"

  export default {
    helpers: {
      config,
      dev: process.env.NODE_ENV === "development",
    },
  }
</script>
