<nav aria-label="main navigation" class="min-h-70 relative md:fixed md:flex md:items-center md:justify-between md:flex-wrap bg-white md-px-2 w-full z-10 md:top-0 border-b" role="navigation">
  <!--
  {#if $user}<div class="absolute top-0 left-0 opacity-50"><img src="/version_beta.png" alt="version beta"></div>{/if}
-->
 <div class="w-full md:flex flex-col md:items-center my-1 md:flex-row container mx-auto">
    <div class="md:flex md:items-center md:flex-shrink-0 py-6 md:py-0 md:mr-6 md:my-2 md:border-r text-center">
      {#if $user}
      <a class="block text-center mx-4 text-cyan" href="{config.url}" rel="prefetch" title="{config.missionStatement}">
        <img class="w-24 block mx-auto" src="/le_M-cyan-brouillon.png" alt="Logo de LaREM">
        <span class="max-w-five font-thin text-xs">
       <!-- {config.title} -->
      </span>
      </a>
      {/if}
    </div>

    <div class="{showMenu ? "block" : "hidden"} flex-grow w-full md:flex md:items-center md:w-auto">
      {#if $user}
      <div class="md:flex flex-col md:flex-grow md:flex-row mb-4 md:mb-0 uppercase">
        {#each config.leftMenu as menuItem}
          <span class="md:inline-flex">
            <a
              class="block md:mr-4 mt-4 pb-2 px-4 md:px-0 md:mt-0 md:pb-0 hover:text-cyan-darker {
                (child.segment || ".") === menuItem.url ? "text-cyan-darker" : ""
              }"
              href="{menuItem.url || ""}"
              rel="{menuItem.prefech ? "prefetch" : null}"
              title="{menuItem.title || null}"
            >
              {menuItem.contentHtml}
            </a>
          </span>
        {/each}
        <span class="md:inline-flex">
          <a class="block md:mr-4 mt-4 pb-2 px-4 md:px-0 md:mt-0 md:pb-0 hover:text-cyan-darker" href="https://nuage.groupe-larem.fr/" target="_blank">
           Documents
          </a>
        </span>
      </div>
      {/if}

      <div class="flex flex-col md:flex-row md:pr-4 ml-auto bg-cyan md:bg-transparent items-baseline">
        {#if $user}
          <span class="inline-flex ml-4 text-white md:text-gray-600 pt-2 md:pt-0 leading-none">
           {$user.fullName}{#if dev}&nbsp;({#if $conseiller}conseiller{:else}{$auteur ? $auteur : "stagiaire"}{/if}){/if}
          </span>
          <hr class="border-b border-white h-px w-full md:hidden">
          <span class="inline-flex">
            <a class="md:ml-4 pb-2 px-4 md:px-0 md:pb-0 text-white md:text-cyan md:inline-block md:mt-0 hover:text-cyan-dark" href="auth/logout">Déconnexion</a>
          </span>
        {:else}
          <span class="inline-flex">
            <a class="md:ml-4 pb-2 px-4 md:px-0 md:pb-0 text-white md:text-cyan md:inline-block md:mt-0 hover:text-cyan-dark" href="auth/login">Connexion</a>
          </span>
        {/if}
      </div>
    </div>
  </div>
  <div class="block my-4 mx-3 md:hidden">
    <button
      class="absolute top-0 right-0 border border-cyan flex items-center px-3 py-2 rounded text-cyan active:border-cyan active:text-cyan focus:border-cyan focus:text-cyan m-6"
      on:click="burgerButtonClicked()"
    >
      <Icon icon={faBars} />
    </button>
  </div>
</nav>

<!-- <main class="absolute inset-0 pt-32"> -->
<main class="md:pt-32 min-h-500 container px-4 mx:px-0 md:mx-auto">
  {#if config.globalAlert}
    {@html config.globalAlert.messageHtml}
  {/if}
  {#if !$user}
    <div class="container mx-auto">
      <main class="md:pt-32 min-h-500 container px-4 md:mx-4 md:mx-auto">
        <article class="max-w-md mx-auto my-4" role="alert">
          <div class="warning-title">
            <Icon icon={faExclamationTriangle} /> Authentification requise&nbsp;!
          </div>
          <div class="warning-content">
            <p>
              Vous devez vous connecter pour accéder au contenu de cette page.
            </p>
          </div>
        </article>
        <article class="max-w-md mx-auto">
          <img
            class="w-1/2 mx-auto block"
            src="/le_M-cyan-brouillon.png"
            alt="Logo de LaREM"
          />
        </article>
      </main>
    </div>
  {:elseif !$user.role}
    <div class="container mx-auto">
      <main class="md:pt-32 min-h-500 container mx-4 md:mx-auto">
        <article class="max-w-md mx-auto my-4" role="alert">
          <div class="warning-title">
            <Icon icon={faExclamationTriangle} /> Appartenance au groupe LaREM requise&nbsp;!
          </div>
          <div class="warning-content">
            <p>
              Vous devez faire partie du Groupe LaREM pour accéder à ce site.
            </p>
          </div>
        </article>
        <article class="max-w-md mx-auto">
          <img
            class="w-1/2 mx-auto block"
            src="/le_M-cyan-brouillon.png"
            alt="Logo de LaREM"
          />
        </article>
      </main>
    </div>
  {:elseif $user.role === "DEPUTE"}
    <div class="container mx-auto">
      <main class="md:pt-32 min-h-500 container mx-4 md:mx-auto">
        <article class="max-w-md mx-auto my-4" role="alert">
          <div class="warning-title">
            <Icon icon={faExclamationTriangle} /> Version beta réservée aux collaborateurs&nbsp;!
          </div>
          <div class="warning-content">
            <p>
              Cette version <i>beta</i> du site est en accès restreint,
              <b>réservé aux seuls collaborateurs parlementaires</b>.
            </p>
          </div>
        </article>
        <article class="max-w-md mx-auto">
          <img
            class="w-1/2 mx-auto block"
            src="/le_M-cyan-brouillon.png"
            alt="Logo de LaREM"
          />
        </article>
      </main>
    </div>
  {:else}
    <svelte:component this={child.component} {...child.props} on:openNewIssueModal="set({ showNewIssueModal: true })"/>
  {/if}
  {#if showNewIssueModal}
    <NewIssueModal on:close="set({ showNewIssueModal: false })" {path}/>
  {/if}
</main>

<footer class="flex md:flex-row w-full p-8 mt-4 border-t border-cyan align-center">
  <nav class="w-full mx-auto flex items-center justify-center flex-shrink-0">
    {#if $user}
    {#each config.rightMenu as menuItem}
        <a class="block mr-3 mt-4 text-cyan hover:text-cyan-darker {
            (child.segment || ".") === menuItem.url ? "text-cyan-darker border-cyan-darker" : "border-cyan text-cyan"
          }"
          href="{menuItem.url || ""}"
          rel="{menuItem.prefech ? "prefetch" : null}"
          title="{menuItem.title || null}"
        >
          {menuItem.contentHtml}
        </a>
    {/each}
  {/if}
  <span class="block mr-3 mt-4 text-cyan">&bullet;</span>
    <a href="https://www.facebook.com/deputesLaREM/" target="_blank" class="block mr-3 mt-4 text-cyan hover:text-cyan-darker">
      <Icon icon={faFacebookF} />&nbsp;Facebook</a>
    <a href="https://twitter.com/larem_an" target="_blank" class="block mr-3 mt-4 text-cyan hover:text-cyan-darker">
      <Icon icon={faTwitter} />&nbsp;Twitter</a>
    <a href="https://www.instagram.com/deputeslarem" target="_blank" class="block mt-4 text-cyan hover:text-cyan-darker">
      <Icon icon={faInstagram} />&nbsp;Instagram</a>
  </nav>
</footer>

<script>
  import { faFacebookF } from "@fortawesome/free-brands-svg-icons/faFacebookF"
  import { faInstagram } from "@fortawesome/free-brands-svg-icons/faInstagram"
  import { faTwitter } from "@fortawesome/free-brands-svg-icons/faTwitter"
  import { faBars } from "@fortawesome/free-solid-svg-icons/faBars"
  // import { faCloud } from "@fortawesome/free-solid-svg-icons/faCloud"
  import { faExclamationTriangle } from "@fortawesome/free-solid-svg-icons/faExclamationTriangle"
  // import { faSignInAlt } from "@fortawesome/free-solid-svg-icons/faSignInAlt"
  // import { faSignOutAlt } from "@fortawesome/free-solid-svg-icons/faSignOutAlt"
  // import { faUser } from "@fortawesome/free-solid-svg-icons/faUser"

  // import { goto } from "../../__sapper__/client"
  import config from "../config"

  export default {
    components: {
      Icon: "../components/Icon.html",
      NewIssueModal: "../components/NewIssueModal.html",
    },
    data() {
      const dev = process.env.NODE_ENV === "development"
      return {
        showMenu: false,
        showNewIssueModal: false,
        dev,
      }
    },
    helpers: {
      config,
      faBars,
      // faCloud,
      faExclamationTriangle,
      faFacebookF,
      faInstagram,
      // faSignInAlt,
      // faSignOutAlt,
      faTwitter,
      // faUser,
    },
    methods: {
      burgerButtonClicked() {
        const { showMenu } = this.get()
        this.set({ showMenu: !showMenu })
      },
      // logout(event) {
      //   event.preventDefault()

      //   this.store.logout().then(() => {
      //     goto("/")
      //   })
      //     .catch(err => {
      //       // TODO handle network errors
      //       console.error({ err })
      //     })
      // },
    },
  }
</script>
