<svelte:head>
  <title>Dossiers - {config.title}</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">Dossiers</h1>

<ul class="list-disc pl-4">
{#each dossiers as dossier}
<li><a class="text-blue underline" href="dossier/{dossier.titreDossier.titreChemin}"> {dossier.titreDossier.titre}</a> <small>({abrev(dossier.procedureParlementaire.libelle)})</small></li>
{/each}
</ul>

<script>
  import config from "../config"

  export default {
    async preload() {
      const rdossiers = await this.fetch(
          "https://tricoteuses.fr/data/graphql/assemblee/dossiers_recents.json",
        ),
        jdossiers = await rdossiers.json(),
        dossiers = jdossiers.data.dossiersParlementairesRecents.sort((a, b) => {
          const da =
              a.actesLegislatifs.actes[a.actesLegislatifs.actes.length - 1]
                .dateActe,
            db =
              b.actesLegislatifs.actes[b.actesLegislatifs.actes.length - 1]
                .dateActe
          return da < db ? 1 : da > db ? -1 : 0
        })

      return { dossiers }
    },

    helpers: {
      config,
      abrev(type) {
        const abrevs = {
          "Proposition de loi ordinaire": "ppl",
          "Projet de loi ordinaire": "pjl",
          "Proposition de loi organique": "ppl org.",
          "Projet de loi organique": "pjl org.",
          "Projet ou proposition de loi organique": "pjl/ppl org.",
          "Proposition de loi constitutionnelle": "ppl constit.",
          "Projet de loi constitutionnel": "pjl constit.",
          "Projet ou proposition de loi constitutionnelle": "pjl/ppl constit.",
        }
        return type in abrevs ? abrevs[type] : type
      },
    },
  }

  // vim: set ts=2 sw=2 sts=2 et:
</script>
