<svelte:head>
  <title>{frenchDateFormat.format(date)} | {config.title}</title>
</svelte:head>

<section class="section hero bg-cyan mb-12 text-center px-12" style="height: 100px;">
  <div class="hero-inner" style="position: relative; top: 50%; transform: translateY(-50%); max-width: 610px; margin: 0 auto;">
    <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/fr/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
      <input class="border border-white w-full bg-white" style="border-radius:30px; color: #999; height: 40px; padding-left: 40px;"  type="search" name="query" id="query" placeholder="Recherche" autocomplete="off" aria-label="Recherche"></form>
  </div>
</section>

<div class="container mx-auto">
  <section class="px-2 mb-8 md:mb-24">
    <div class="flex flex-wrap -mx-2 -my-4">
      <div class="flex flex-col md:my-4 w-full md:w-1/2 md:pr-8">
        <div class=" shadow-lg">
          <h2 class="font-normal p-4 text-center tracking-wide uppercase text-xl ">Flash info</h2>
          <div class=" bg-gray-100">
            <div class="flex justify-center p-4 text-sm">
              <a href="test" class="px-2 py-1 mr-2 text-white bg-cyan leading-relaxed">LaREM</a>
              <a href="test" class="px-2 py-1 mr-2 text-cyan hover:bg-cyan-lighter hover:text-white leading-relaxed">AFP</a>
              <a href="test" class="px-2 py-1 mr-2 text-cyan hover:bg-cyan-lighter hover:text-white leading-relaxed">Gouv</a>
              <a href="test" class="px-2 py-1 text-cyan hover:bg-cyan-lighter hover:text-white leading-relaxed">Local</a>
            </div>
            <div class="w-full text-gray-800 bg-white overflow-hidden">
              <TelegramMessagesAndZendeskArticles
                articles={zendeskLaremNews}
                messages={infosAttachesParlementaires}
              />
            </div>
          </div><!-- bg-gray-100-->
        </div>
      </div>

      <div class="md:my-4 w-full md:w-1/2">
        <div class="shadow-lg">
          <CalendarDaily {date} {calendarEventsBySegment} {calendars} on:changeDate="changeDate(event)"/>
        </div>
      </div>
    </div>
  </section>

  {#if quizUrl !== null}
    <h2 class="font-light mb-4 uppercase text-xl text-center tracking-wide">Quiz</h2>
    <iframe class="md:mb-24 min-w-full w-px" id="retruco-quiz" src={quizUrl} title="Quiz"></iframe>
  {/if}

  <section class="flex flex-wrap pb-6 w-full">
    <div class="w-full md:w-1/3 md:pr-4 mb-8">
      <a href="https://an-en-marche.zendesk.com/hc/fr/categories/360001283640-Travail-parlementaire" target="_blank" class="blocks-item block p-4" style="height: 180px;">
        <img src="/travail_parlementaire.svg" alt="" class="block mx-auto">
        <h3 class="text-center tracking-wide pt-2 uppercase">Travail parlementaire</h3>
      </a>
    </div>
    <div class="w-full md:w-1/3 md:px-4 mb-8">
      <a href="https://an-en-marche.zendesk.com/hc/fr/categories/360001309279-Actualit%C3%A9-politique" target="_blank" class="blocks-item block p-4" style="height: 180px;">
        <img src="/actu_politique.svg" alt="" class="block mx-auto">
        <h3 class="text-center tracking-wide pt-2 uppercase">Actualités politique</h3>
      </a>
    </div>
    <div class="w-full md:w-1/3 md:pl-4 mb-8">
      <a href="https://an-en-marche.zendesk.com/hc/fr/categories/360001309299-Communiquer" target="_blank" class="blocks-item block p-4" style="height: 180px;">
        <img src="/communiquer.svg" alt="" class="block mx-auto">
        <h3 class="text-center tracking-wide pt-2 uppercase">Communiquer</h3>
      </a>
    </div>
    <div class="w-full md:w-1/3 md:pr-4 mb-8">
      <a href="https://an-en-marche.zendesk.com/hc/fr/categories/360001283700-Vie-du-groupe" target="_blank" class="blocks-item block p-4" style="height: 180px;">
        <img src="/vie_du_groupe.svg" alt="" class="block mx-auto">
        <h3 class="text-center tracking-wide pt-2 uppercase">Vie de groupe</h3>
      </a>
    </div>
    <div class="w-full md:w-1/3 md:px-4 mb-8">
      <a href="https://an-en-marche.zendesk.com/hc/fr/categories/360001308479-Services" target="_blank" class="blocks-item block p-4" style="height: 180px;">
        <img src="/services.svg" alt="" class="block mx-auto">
        <h3 class="text-center tracking-wide pt-2 uppercase">Services</h3>
      </a>
    </div>
    <div class="w-full md:w-1/3 md:pl-4 mb-8">
      <a href="https://an-en-marche.zendesk.com/hc/fr/categories/360001309819-Ressources" target="_blank" class="blocks-item block p-4" style="height: 180px;">
        <img src="/ressources.svg" alt="" class="block mx-auto">
        <h3 class="text-center tracking-wide pt-2 uppercase">Ressources</h3>
      </a>
    </div>
  </section>

  <section class="my-12 w-full clearfix leading-loose">

    <div class="w-full md:w-1/3 float-left mb-4 md:mb-0 md:pr-8">
      <h3 class="tracking-wide mb-4 uppercase text-xl">À la une</h3>
      <ul>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Maecenas eget massa tincidunt, luctus enim ut, porta augue.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Nam tincidunt velit ac tortor ornare mollis.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Integer id felis tincidunt ipsum pulvinar fermentum a malesuada sem.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Nullam eget odio nec nunc maximus venenatis.</a></li>
      </ul>
    </div>

    <div class="w-full md:w-1/3 float-left mb-4 md:mb-0 md:pr-8">
       <h3 class="tracking-wide mb-4 uppercase text-xl">Les plus vus</h3>
        <ul>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Maecenas eget massa tincidunt, luctus enim ut, porta augue.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Nam tincidunt velit ac tortor ornare mollis.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Integer id felis tincidunt ipsum pulvinar fermentum a malesuada sem.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Nullam eget odio nec nunc maximus venenatis.</a></li>
      </ul>
    </div>

     <div class="w-full md:w-1/3 float-left mb-4 md:mb-0">
       <h3 class="tracking-wide mb-4 uppercase text-xl">Consultés récemment</h3>
        <ul>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Maecenas eget massa tincidunt, luctus enim ut, porta augue.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Nam tincidunt velit ac tortor ornare mollis.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Integer id felis tincidunt ipsum pulvinar fermentum a malesuada sem.</a></li>
        <li><a href="fake-link" class="text-gray-800 hover:text-cyan-dark">Nullam eget odio nec nunc maximus venenatis.</a></li>
      </ul>
    </div>

  </section>


  <hr class="border-b mb-8">

  <section class="m-t-12 w-full clearfix">
    <h2 class="font-light uppercase text-normal tracking-wider mb-4 text-xl" id="thematiques">Dossiers thématiques</h2>
    <div class="w-full md:w-1/3 float-left mb-4 md:mb-0 md:pr-8 leading-loose">
        <ul>
        <li><a target="_blank" href="https://nuage.groupe-larem.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Actualit%C3%A9s%20politiques%20et%20sujets%20g%C3%A9n%C3%A9raux"> Actualités politiques et sujets généraux</a></li>
        <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Agriculture%2C%20p%C3%AAche%2C%20alimentation%20et%20biodiversit%C3%A9">Agriculture, pêche, alimentation et biodiversité</a></li>
        <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Am%C3%A9nagement%20du%20territoire%2C%20transport%20et%20logement">
       Aménagement du territoire, transport et logement
      </a></li>
        <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Budget%2C%20finances%20et%20fiscalit%C3%A9">
       Budget, finances et fiscalité
      </a></li>
        <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Culture%2C%20sport%20et%20associatif">
       Culture, sport et associatif
      </a></li>

      </ul>
    </div>
    <div class="w-full md:w-1/3 float-left mb-4 md:mb-0 md:pr-8 leading-loose">
        <ul>
       <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/D%C3%A9fense%20et%20force%20arm%C3%A9es">
       Défense et forces armées
      </a></li>
      <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/%C3%89conomie%2C%20emploi%20et%20entreprises">
       Economie, emploi et entreprises
      </a></li>
      <li> <a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/%C3%89ducation%20et%20formation">
       Education et formation
      </a></li>
       <li>  <a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/%C3%89nergies">
       Energies
      </a></li>
      <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/%C3%89tat%2C%20collectivit%C3%A9s%20et%20d%C3%A9mocratie">
       Etat, collectivités et démocratie
      </a></li>

      </ul>
    </div>
     <div class="w-full md:w-1/3 float-left mb-4 md:mb-0 leading-loose">
        <ul>

      <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Justice%20et%20s%C3%A9curit%C3%A9">
       Justice et sécurité
      </a></li>
      <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Num%C3%A9rique%20et%20t%C3%A9l%C3%A9coms">
       Numérique et télécoms
      </a></li>
      <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Sant%C3%A9%20et%20S%C3%A9curit%C3%A9%20Sociale">
       Santé et sécurité sociale
      </a></li>
      <li><a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Soci%C3%A9t%C3%A9%20et%20inclusion">Société et inclusion
      </a></li>
        <li> <a target="_blank" href="https://nuage.en-marche-an.fr/index.php/apps/files?dir=/La%20R%C3%A9publique%20En%20Marche/Union%20Europ%C3%A9enne%20et%20relations%20internationales">
       UE et relations internationales
      </a>  </li>
      </ul>
    </div>

  </section>
</div>


<style>

</style>

<script>
  import assert from "assert"
  import "iframe-resizer/js/iframeResizer"
  import "isomorphic-fetch" // Required for old Safari versions.
  import Sockette from "sockette"

  import config from "../config"
  import { rainbow, textColorForBackground } from "../lib/colors"
  import { dateToLocalIso8601String, frenchDateFormat } from "../lib/dates"
  import { validateDateIso8601String } from "../validators/core"

  const chats = Object.entries(config.telegram).map(([symbol, chat]) => {
    return {
      ...chat,
      symbol,
    }
  })

  function createWebSocket(component) {
    return new Sockette(`${config.webSocketUrl.trim("/")}`, {
      // timeout: 5e3,
      // maxAttempts: 10,
      onclose: event => console.log("Home: Web socket closed!", event),
      onerror: event => console.error("Home: Web socket error:", event),
      onmaximum: event =>
        console.log("Home: Web socket stop attempting (re)connection!", event),
      onmessage: event => {
        const data = JSON.parse(event.data)
        switch (data["@type"]) {
          case "updateChatLastMessage":
            upsertMessage(component, data.last_message)
            break
          case "updateDeleteMessages":
            {
              const chat = chats.find(chat => chat.id === data.chat_id)
              if (chat !== undefined) {
                const messages = component.get()[chat.symbol]
                component.set({
                  [chat.symbol]: messages.filter(
                    message => !data.message_ids.includes(message.id),
                  ),
                })
              }
            }
            break
          case "updateFile":
            {
              const file = data.file
              const messagesByChatSymbol = component.get()
              const updateMessagesByChatSymbol = {}
              for (let chat of chats) {
                const messages = messagesByChatSymbol[chat.symbol]
                let messagesChanged = false
                for (let message of messages) {
                  switch (message.content["@type"]) {
                    case "messageDocument":
                      {
                        if (message.content.document.document.id === file.id) {
                          message.content.document.document = file
                          messagesChanged = true
                        }
                        const thumbnail = message.content.document.thumbnail
                        if (thumbnail && thumbnail.photo.id === file.id) {
                          thumbnail.photo = file
                          messagesChanged = true
                        }
                      }
                      break
                    case "messagePhoto":
                      for (let photoSize of message.content.photo.sizes) {
                        if (photoSize.photo.id === file.id) {
                          photoSize.photo = file
                          messagesChanged = true
                        }
                      }
                      break
                    case "messageText":
                      if (
                        message.content.web_page &&
                        message.content.web_page.photo
                      ) {
                        for (let photoSize of message.content.web_page.photo
                          .sizes) {
                          if (photoSize.photo.id === file.id) {
                            photoSize.photo = file
                            messagesChanged = true
                          }
                        }
                      }
                      break
                    default:
                      break
                  }
                }
                if (messagesChanged) {
                  updateMessagesByChatSymbol[chat.symbol] = messages
                }
              }
              if (Object.keys(updateMessagesByChatSymbol).length > 0) {
                component.set(updateMessagesByChatSymbol)
              }
            }
            break
          case "updateMessageContent":
            {
              const chat = chats.find(chat => chat.id === data.chat_id)
              if (chat === undefined) {
                console.log(
                  `Home: Web socket ignored message content of unknown chat: ${JSON.stringify(
                    data,
                    null,
                    2,
                  )}`,
                )
              } else {
                const chatMessages = [...component.get()[chat.symbol]]
                const messageIndex = chatMessages.findIndex(
                  existingMessage => existingMessage.id === data.message_id,
                )
                if (messageIndex >= 0) {
                  // Update existing message.
                  chatMessages[messageIndex].content = data.new_content
                } else {
                  // Modified message is not displayed => Nothing to do.
                }
                component.set({
                  [chat.symbol]: chatMessages,
                })
              }
            }
            break
          case "updateNewMessage":
            upsertMessage(component, data.message)
            break
          default:
            console.log(`Home: Web socket unhandled message: ${event}`)
            break
        }
      },
      onopen: (/* event */) => {
        // console.log("Home: Web socket connected!", event)
      },
      onreconnect: event =>
        console.log("Home: Web socket reconnecting...", event),
    })
  }

  function upsertMessage(component, message) {
    const chat = chats.find(chat => chat.id === message.chat_id)
    if (chat === undefined) {
      console.log(
        `Home: Web socket ignored message of unknown chat: ${JSON.stringify(
          message,
          null,
          2,
        )}`,
      )
    } else {
      const chatMessages = [...component.get()[chat.symbol]]
      const messageIndex = chatMessages.findIndex(
        existingMessage => existingMessage.id === message.id,
      )
      if (messageIndex >= 0) {
        // Update existing message.
        chatMessages[messageIndex] = message
      } else {
        // Add message.
        chatMessages.push(message)
        chatMessages.sort((a, b) => a.id - b.id)
      }
      component.set({
        [chat.symbol]: chatMessages,
      })
    }
  }

  export default {
    components: {
      CalendarDaily: "../components/CalendarDaily.html",
      TelegramMessagesAndZendeskArticles: "../components/TelegramMessagesAndZendeskArticles.html",
    },
    data() {
      return {
        ...chats.reduce((messagesByChatSymbol, chat) => {
          messagesByChatSymbol[chat.symbol] = null
          return messagesByChatSymbol
        }, {}),
        calendarEventsBySegment: {},
        calendars: [],
        zendeskLaremNews: null,
      }
    },
    helpers: {
      config,
      frenchDateFormat,
    },
    methods: {
      changeDate(date) {
        this.set({ date })
        // eslint-disable-next-line no-undef
        window.history.pushState(
          {},
          `${frenchDateFormat.format(date)} | ${config.title}`,
          `?date=${dateToLocalIso8601String(date)}`,
        )
      },
      async retrieveCalendarEvents(calendar) {
        // eslint-disable-next-line no-undef
        const response = await fetch(`calendars/${calendar.segment}`, {
          credentials: "same-origin",
        })
        if (!response.ok) {
          console.log(
            response.status,
            response.statusText,
            await response.text(),
          )
          assert(response.ok)
        }
        let events = await response.json()
        const { calendarEventsBySegment } = this.get()
        events = events.map(event => ({
          ...event,
          color: calendar.color,
          textColor: calendar.textColor,
        }))
        this.set({
          calendarEventsBySegment: {
            ...calendarEventsBySegment,
            [calendar.segment]: events,
          },
        })
      },
      async retrieveCalendars() {
        // eslint-disable-next-line no-undef
        const response = await fetch("calendars", {
          credentials: "same-origin",
        })
        if (!response.ok) {
          console.log(
            response.status,
            response.statusText,
            await response.text(),
          )
          assert(response.ok)
        }
        let calendars = await response.json()
        calendars = calendars.map((calendar, calendarIndex) => {
          const color = rainbow(calendars.length, calendarIndex)
          return {
            ...calendar,
            checked: true,
            color,
            textColor: textColorForBackground(color),
          }
        })
        this.set({
          calendars,
        })
        for (let calendar of calendars) {
          // Retrieve calendar events, but don't wait for result.
          this.retrieveCalendarEvents(calendar)
            .catch(error => {
              console.log(
                "retrieveCalendarEvents failed:",
                error,
              )
            })
        }
      },
    },
    async oncreate() {
      // This fires when the component has been rendered to the DOM (=> client-only).
      // cf https://github.com/sveltejs/sapper/issues/222

      const { path, quizUrl } = this.get()

      if (quizUrl !== null) {
        // eslint-disable-next-line no-undef
        iFrameResize({ log: false }, "#retruco-quiz")
      }

      this.webSocket = createWebSocket(this)

      {
        chats.map(async chat => {
          const response = await fetch(`chats/${chat.id}/messages`, {
            credentials: "same-origin",
          })
          if (!response.ok) {
            console.log(
              `Error at ${path}, when retrieving messages of chat ${chat.id}:`,
              response.status,
              await response.text(),
            )
            return []
          }
          const messages = await response.json()
          this.set({ [chat.symbol]: [...messages].sort((a, b) => a.id - b.id) })
        })
      }

      const fetchLaremNews = async () => {
        const response = await fetch("guide/actualites", {
          credentials: "same-origin",
        })
        if (!response.ok) {
          console.log(
            response.status,
            response.statusText,
            await response.text(),
          )
          assert(response.ok)
        }
        this.set({ zendeskLaremNews: await response.json() })
      }
      fetchLaremNews()

      {
        // Retrieve calendars, but don't wait for result.
        this.retrieveCalendars().catch(error => {
          console.log("retrieveCalendars failed:", error)
        })
      }
    },
    async preload({ path, query }) {
      let [date, dateError] = validateDateIso8601String(query.date)
      date = dateError === null ? new Date(date) : new Date()

      // const createQuiz = async () => {
      //   const response = await this.fetch("quiz", {
      //     credentials: "same-origin",
      //   })
      //   if (!response.ok) {
      //     console.log(
      //       `Error at ${path}, when retrieving quiz:`,
      //       response.status,
      //       await response.text(),
      //     )
      //     return null
      //   }
      //   const { url } = await response.json()
      //   return url
      // }
      // const quizUrl = await createQuiz()
      const quizUrl = null

      return {
        date,
        path,
        quizUrl,
      }
    },
  }
</script>
