<svelte:head>
  <title>Textes</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">Textes</h1>

<div class="container mx-auto">

<div class="w-full mb-2 clearfix">
 <div class="float-left w-2/3 pr-2">
   <label class="rounded border border-gray-light py-2 px-4"><input type="checkbox" bind:checked="flag_textes_clotures" /> Ajouter les textes clôturés</label>
 </div>
 <div class="float-left w-1/3 pl-2 text-right">
   {#if $conseiller}
   <a href="./textes/administration" class="bg-bleu-lighter hover:bg-bleu font-bold py-2 px-4 rounded text-white uppercase inline-block">
     <Icon icon={faCog} />&nbsp;Administration</a>
   {/if}
 </div>
</div>

<table class="w-full text-sm border-separate bg-white shadow-md relative mt-4">
  <thead>
  <tr>
   <th class="sticky top-0 py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light"><abbr class="numero">N<sup>o</sup></abbr></th>
   <th class="sticky top-0 py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light">Titre</th>
   <th class="sticky top-0 py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light">Amdts</th>
   <th class="sticky top-0 py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light">Délai&nbsp;de dépôt interne</th>
  </tr>
  </thead>
{#each ordreCommissions as commId}
{#if flag_textes_clotures || textes[commId].find(c => c.txta_cloture === null) !== undefined}
<tr>
 <td colspan="4" class="nom-commission py-1 px-3 border-b border-gray-light">{#if commId in commissions}{commissions[commId]}{:else}{commId}{/if}</td>
</tr>
{#each textes[commId] as texte}
{#if flag_textes_clotures || texte.txta_cloture === null}
<tr>
 <td class="py-1 px-3 border-b border-gray-light text-center"><a class="text-blue underline" href="amendements/{texte.txt_id}/{commAbrevInv[texte.txta_commission]}">{texte.txt_id}</a></td>
 <td class="py-1 px-3 border-b border-gray-light">{texte.txt_titre} {#if texte.txta_statut}<span class="statut-comm">{#if texte.txta_statut == 'FOND'}(fond){:else}(avis){/if}</span>{/if}{#if flag_textes_clotures && texte.txta_cloture !== null}<br />(clôturé le {dateToLocalIso8601StringFr(new Date(texte.txta_cloture))}){/if}</td>
 <td class="py-1 px-3 border-b border-gray-light text-right">{texte.txta_nb_amdt_deposes}</td>
 <td class="py-1 px-3 border-b border-gray-light text-center">{#if texte.txta_amendable}{#if texte.txta_date_depot_limite_interne !== null}{dateToLocalIso8601StringFr(new Date(texte.txta_date_depot_limite_interne))}{/if}{:else}clôturé{/if}</td>
</tr>
{/if}
{/each}
{/if}
{/each}
</table>

</div>

<style>
  td.nom-commission {
    font-weight: bold;
  }
  span.statut-comm {
    font-style: italic;
  }
</style>

<script>
  import "isomorphic-fetch" // Required for old Safari versions.
  import { faCog } from "@fortawesome/free-solid-svg-icons/faCog"

  import { COMPER, CNPS, commAbrevInv } from "../lib/data"
  import { dateToLocalIso8601String } from "../lib/dates"

  export default {
    async preload() {
      const resTextes = await this.fetch("textes.json", {
          credentials: "same-origin",
        }),
        resDeputes = await this.fetch("auteurs.json", {
          credentials: "same-origin",
        }),
        textes = await resTextes.json(),
        deputes = await resDeputes.json()

      const commissions = Object.assign(Object.assign({"Séance publique": "Séance publique"}, COMPER), CNPS),
        ordreCommissions = Object.keys(commissions).sort((a, b) => {
          if (a in COMPER || b in COMPER) {
            return a in COMPER
              ? b in COMPER
                ? COMPER[a].replace(/é/g, "e") < COMPER[b].replace(/é/g, "e")
                  ? -1
                  : 1
                : -1
              : 1
          } else if (a in CNPS || b in CNPS) {
            return a in CNPS
              ? b in CNPS
                ? CNPS[a].replace(/é/g, "e") < CNPS[b].replace(/é/g, "e")
                  ? -1
                  : 1
                : -1
              : 1
          } else if (a === "Séance publique") {
            return b === "Séance publique" ? 0 : 1
          } else {
            a = a.replace(/é/g, "e")
            b = b.replace(/é/g, "e")
            return a < b ? -1 : 1
          }
        })

      if (resTextes.status === 200 && resDeputes.status === 200) {
        return { textes, deputes, commissions, ordreCommissions, COMPER, CNPS, commAbrevInv }
      } else {
        this.error(resTextes.status, textes.message)
      }
    },

    data() {
      return {
        flag_textes_clotures: false,
      }
    },

    components: {
      Icon: "../components/Icon.html",
    },

    helpers: {
      faCog,
      dateToLocalIso8601StringFr(d) {
        return dateToLocalIso8601String(d).replace(/^([0-9]{4})-([0-9]{2})-([0-9]{2})$/, "$3/$2/$1")
      },
    },
  }

  // vim: set ts=2 sw=2 sts=2 et:
</script>
