<svelte:head>
  <title
    >{depute.etatCivil.ident.prenom} {depute.etatCivil.ident.nom} | Députés |
    {config.title}</title
  >
</svelte:head>

<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="flex flex-col justify-center text-center mt-3">
      <!-- Svelte removes background style when rendered on client => use a function to hide the background attribute.
          -->
      <img
        class="span"
        alt="{photoAlt(depute.etatCivil)}"
        style="{photoStyle}"
        src="transparent_150x192.png"
      />
      <div class="card-body">
        <h4 class="font-semibold text-2xl">
          {depute.etatCivil.ident.prenom} {depute.etatCivil.ident.nom}
        </h4>
        <p class="card-text">
          <i>
            {depute.departementCirco || "Circonscription inconnue"}
          </i>
        </p>
        <p class="card-text">
          {(organeByUid[depute.commissionPermanenteUid] || {}).libelleAbrege ||
          "Commission permanente inconnue"}
        </p>
      </div>
    </div>
  </div>

  {#each fonctionsOrganes as fonctionOrgane (fonctionOrgane.code)} {#if
  fonctionOrgane.typesOrganes.some(typeOrgane => typeOrgane.mandats.length > 0)}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card text-center mt-3">
      <div class="card-body">
        <h4 class="font-semibold text-xl">{fonctionOrgane.libellePluriel}</h4>
      </div>
      {#each fonctionOrgane.typesOrganes as typeOrgane (typeOrgane.code)} {#if
      typeOrgane.mandats.length > 0}
      <div class="card-body">
        <h5 class="font-semibold text-lg">
          {typeOrgane.mandats.length > 1 ? typeOrgane.libellePluriel :
          typeOrgane.libelle}
        </h5>
      </div>
      <ul class="list-reset">
        {#each typeOrgane.mandats as mandat (mandat.uid)}
        <li>
          <a class="link" href="/instances/{mandat.organesRefs[0]}"
            >{organeByUid[mandat.organesRefs[0]].libelle}</a
          >
        </li>
        {/each}
      </ul>
      {/if} {/each}
    </div>
  </div>
  {/if} {/each}
</div>

<script>
  import config from "../../config"

  const FONCTIONS_ORGANES = [
    {
      code: "AppartenancePolitique",
      libelle: "Appartenance politique",
      libellePluriel: "Appartenance politique",
      typesOrganes: [
        {
          code: "GP",
          libelle: "Groupe politique",
          libellePluriel: "Groupes politiques",
        },
        {
          code: "PARPOL",
          libelle: "Rattachement au titre du financement de la vie politique",
          libellePluriel:
            "Rattachements au titre du financement de la vie politique",
        },
      ],
    },
    {
      code: "FonctionAssembleeNationale",
      libelle: "Fonction à l'Assemblée nationale",
      libellePluriel: "Fonctions à l'Assemblée nationale",
      typesOrganes: [
        {
          code: "ASSEMBLEE",
          libelle: "Mandat",
          libellePluriel: "Mandats",
        },
        {
          code: "CMP",
          libelle: "Commission mixte paritaire",
          libellePluriel: "Commissions mixtes paritaires",
        },
        {
          code: "CNPE",
          libelle: "Commission d'enquête",
          libellePluriel: "Commissions d'enquête",
        },
        {
          code: "CNPS",
          libelle: "Commission spéciale",
          libellePluriel: "Commissions spéciales",
        },
        {
          code: "COMNL",
          libelle: "Commission spéciale (autre)",
          libellePluriel: "Commissions spéciales (autres)",
        },
        {
          code: "COMPER",
          libelle: "Commission permanente",
          libellePluriel: "Commissions permanentes",
        },
        {
          code: "CONFPT",
          libelle: "Conférence des présidents",
          libellePluriel: "Conférence des présidents",
        },
        {
          code: "DELEG",
          libelle: "Délégation",
          libellePluriel: "Délégations",
        },
        {
          code: "DELEGBUREAU",
          libelle: "Délégation du Bureau",
          libellePluriel: "Délégations du Bureau",
        },
        {
          code: "GA",
          libelle: "Groupe d'amitié",
          libellePluriel: "Groupes d'amitié",
        },
        {
          code: "GE",
          libelle: "Groupe d'études",
          libellePluriel: "Groupes d'études",
        },
        {
          code: "GEVI",
          libelle: "Groupe d'études à vocation internationale",
          libellePluriel: "Groupes d'études à vocation internationale",
        },
        {
          code: "MISINFO",
          libelle: "Mission d'information",
          libellePluriel: "Missions d'information",
        },
        {
          code: "MISINFOCOM",
          libelle: "Mission d'information commune",
          libellePluriel: "Missions d'information commune",
        },
        {
          code: "MISINFOPRE",
          libelle: "Mission d'information prélable",
          libellePluriel: "Missions d'information prélable",
        },
        {
          code: "OFFPAR",
          libelle: "Office parlementaire",
          libellePluriel: "Offices parlementaires",
        },
      ],
    },
    {
      code: "FonctionLieeMandatDepute",
      libelle: "Fonction liée au mandat de député",
      libellePluriel: "Fonctions liées au mandat de député",
      typesOrganes: [
        {
          code: "API",
          libelle: "Instance parlementaire internationale",
          libellePluriel: "Instances parlementaires internationales",
        },
        {
          code: "CJR",
          libelle: "Instance judiciaire",
          libellePluriel: "Instances judiciaires",
        },
        {
          code: "ORGAINT",
          libelle: "Instance internationale",
          libellePluriel: "Instances internationales",
        },
        {
          code: "ORGEXTPARL",
          libelle: "Organisme extra-parlementaire",
          libellePluriel: "Organismes extra-parlementaires",
        },
      ],
    },
    {
      code: "AutreFonction",
      libelle: "Autre fonction",
      libellePluriel: "Autres fonctions",
      typesOrganes: [
        {
          code: "COMSENAT",
          libelle: "Commission sénatoriale",
          libellePluriel: "Commissions sénatoriales",
        },
        {
          code: "COMSPSENAT",
          libelle: "Commission spéciale sénatoriale",
          libellePluriel: "Commissions spéciales sénatoriales",
        },
        {
          code: "CONSTITU",
          libelle: "Conseil constitutionnel",
          libellePluriel: "Conseil constitutionnel",
        },
        {
          code: "DELEGSENAT",
          libelle: "Délégation sénatoriale",
          libellePluriel: "Délégations sénatoriales",
        },
        {
          code: "GOUVERNEMENT",
          libelle: "Gouvernement",
          libellePluriel: "Gouvernement",
        },
        {
          code: "GROUPESENAT",
          libelle: "Groupe politique du Sénat",
          libellePluriel: "Groupes politiques du Sénat",
        },
        {
          code: "HCJ",
          libelle: "Haute Cour",
          libellePluriel: "Haute Cour",
        },
        {
          code: "MINISTERE",
          libelle: "Ministère",
          libellePluriel: "Ministères",
        },
        {
          code: "PRESREP",
          libelle: "Présidence de la République",
          libellePluriel: "Présidence de la République",
        },
        {
          code: "SENAT",
          libelle: "Sénat",
          libellePluriel: "Sénat",
        },
      ],
    },
  ]

  export default {
    computed: {
      depute({ deputeByUid, deputeUid }) {
        return deputeByUid[deputeUid]
      },
      fonctionsOrganes({ depute }) {
        return FONCTIONS_ORGANES.map(fonctionOrgane => ({
          ...fonctionOrgane,
          typesOrganes: fonctionOrgane.typesOrganes.map(typeOrgane => ({
            ...typeOrgane,
            mandats: depute.mandats.filter(
              mandat =>
                mandat.nominPrincipale && mandat.typeOrgane === typeOrgane.code,
            ),
          })),
        }))
      },
      photoStyle({ depute, photoDeputeByUid }) {
        const photo = photoDeputeByUid[depute.uid]
        if (photo === undefined) {
          return ""
        }
        const { cheminMosaique, xMosaique: x, yMosaique: y } = photo
        return `align-self: center; background: url('${cheminMosaique}') ${-x}px  ${-y}px; height: 192px; width: 150px;`
      },
    },
    helpers: {
      config,
      photoAlt: etatCivil => {
        const { civ, nom, prenom } = etatCivil.ident
        return `Photo de ${civ} ${prenom} ${nom}`
      },
    },
    preload({ params /* , query */ }) {
      const { deputeUid } = params
      return {
        deputeUid,
      }
    },
  }
</script>
