<svelte:head>
  <title>Texte n° {texteId}</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">Texte n°&nbsp;{texteId}</h1>
<h2 class="text-center mt-4 mb-8 p-4 bg-gray-200">{texteMetadata.txt_titre}</h2>
<div class="w-full mb-8 clearfix border-b">
  <nav class="float-left pr-2">
    {#if $auteur}
    {#if texteMetadata.txta_amendable || estResponsable}
    <a href="./amendement/{texteId}/{commission}/nouveau" class="bg-vert hover:bg-vert-dark font-bold py-2 px-4 text-white uppercase inline-block mr-2 mb-2">
      <Icon icon={faPenFancy} />&nbsp;Nouvel amendement</a>
    {/if}
    <label class="rounded border border-gray-light py-2 px-4 mr-2 mb-2 inline-block"><input type="checkbox" bind:checked="mesamendements" /> Mes amendements</label>
    {/if}
    <a href="http://www.assemblee-nationale.fr/dyn/15/dossiers/{texteMetadata.txt_dossier}" target="_blank" class="bg-bleu-lighter hover:bg-bleu font-bold py-2 px-4 text-white uppercase inline-block  mb-2">
      <Icon icon={faFolderOpen} />&nbsp;Dossier législatif</a>
    {#if texteMetadata.txt_url_note}
    <a href="{texteMetadata.txt_url_note}" class="bg-bleu-lighter hover:bg-bleu font-bold py-2 px-4 text-white uppercase inline-block mb-2" target="_blank">
      <Icon icon={faVoteYea} />&nbsp; Note législative</a>
    {/if}
    {#if estResponsable}
    <a href="./amendements/{texteId}/{commission}/amendements.csv" class="bg-bleu-lighter hover:bg-bleu font-bold py-2 px-4 text-white uppercase inline-block mb-2">
      <Icon icon={faFileExcel} />&nbsp; Télécharger le tableau</a>
    {/if}
    {#if estResponsable || !texteMetadata.txta_amendable}
    <a href="./amendements/{texteId}/{commission}/impression" target="_blank" class="bg-bleu-lighter hover:bg-bleu font-bold py-2 px-4 text-white uppercase inline-block mb-2">
      <Icon icon={faPrint} />&nbsp; Imprimer la liste</a>
    {/if}
    <a href="http://www.assemblee-nationale.fr/15/textes/{texteMetadata.txt_id.padStart(4, "0")}.asp" target="_blank" class="bg-bleu-lighter hover:bg-bleu font-bold py-2 px-4 text-white uppercase inline-block mb-2">
      <Icon icon={faScroll} />&nbsp;texte</a>
  </nav>
</div>
<div  class="w-full">

 <table class="w-full text-sm border-separate bg-white shadow-md ">
  <tr>
   <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light"><abbr class="numero">N<sup>o</sup></abbr></th>
   <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light">Place - Alinéa</th>
   <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light">Auteur</th>
   <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light">Sujet <button class="text-blue pl-1 italic" on:click="afficheExposes()">(<span class="underline">exposés</span>)</button></th>
   <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light">État</th>
   <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light">Sort</th>
   <th class="py-4 px-6 bg-gray-100 font-bold uppercase text-gray-600 border-b border-gray-light">Actions</th>
  </tr>
  {#each amendements as amendement}
  {#if (mesamendements && amendement.amdt_auteur == $auteur) || !mesamendements}
  <tr id="amendement-{amendement.amdt_id}" class:dropable="moveAmendement && moveAmendement.movableAmendements.indexOf(amendement.amdt_id) !== -1" draggable="true" on:dragstart="dragstart_handler(event)" on:dragover="dragover_handler(event)" on:dragleave="dragleave_handler(event)" on:drop="drop_handler(event)" on:dragend="dragend_handler(event)" class="hover:bg-gray-200">
   <td class=" border-b border-gray-light text-center"><span class="w-full text-lg font-bold inline-block p-2">{amendement.amdt_id}</span></td>
   <td class="py-1 px-3 border-b border-gray-light"><abbr class="place">{raccourci_division_place(amendement)}</abbr> {raccourci_division(amendement)}<abbr class="place">{raccourci_alinea_place(amendement)}</abbr> {raccourci_alinea(amendement)}

  </td>
   <td class="py-1 px-3 border-b border-gray-light">{amendement.aut_civ} {amendement.aut_nom} {amendement.aut_prenom}</td>
   <td class="py-1 px-3 border-b border-gray-light">
    {#if amendement.amdt_expose && !exposesTous}
     <div class="float-right">
      <button class="text-blue pl-1 italic" on:click="afficheExpose(amendement.amdt_id)">(<span class="underline">exposé</span>)</button>
     </div>
    {/if}
    <div class:underline="exposes[amendement.amdt_id]">{#if amendement.amdt_titre}{amendement.amdt_titre}{:elseif exposes[amendement.amdt_id]}(Sans sujet){:else}-{/if}</div>
    <div class:invisible="!exposes[amendement.amdt_id]" class:h-0="!exposes[amendement.amdt_id]">{@html sanitiseMinimalHtml(amendement.amdt_expose)}</div>
   </td>
   <td class="py-1 px-3 border-b border-gray-light">{amendement.amdt_etat ? raccourci_etat(amendement.amdt_etat) : ''}</td>
   <td class="py-1 px-3 border-b border-gray-light">
    {#if estResponsable}
     <form action="envoi/sort" method="post" on:submit="handleSubmit(event)">
      <select on:change="handleClickSort(amendement.amdt_id, this)">
       {#each ["", "Retenu", "Appel", "Non-retenu", "À expertiser"] as sortName}
        <option value="{sortName}" selected="{sortName === amendement.amdt_sort}">{sortName}</option>
       {/each}
      </select>
     </form>
    {:else}
     {amendement.amdt_sort ? amendement.amdt_sort : ''}
    {/if}
   </td>
   <td class="py-1 px-3 border-b border-gray-light">
    {#if amendement.amdt_auteur == $auteur || estResponsable}
      <a href="amendement/{texteId}/{commission}/{amendement.amdt_id}" class="bg-vert hover:bg-vert-dark text-sm p-1 text-white uppercase inline-block mr-2 mb-2">{#if estResponsable || texteMetadata.txta_amendable}Modifier{:else}Voir{/if}</a>
    {/if}
   </td>
  </tr>
  {/if}
  {/each}
 </table>

</div>

<style>
  :global(table tr.dropable td:first-child) {
    border-left: 2px solid #2abaff;
  }

  :global(table table, table table tr, table table td) {
    border-color: grey;
    border-width: 1px;
  }
</style>

<script>
  import { faVoteYea } from "@fortawesome/free-solid-svg-icons/faVoteYea"
  import { faFileExcel } from "@fortawesome/free-solid-svg-icons/faFileExcel"
  import { faFolderOpen } from "@fortawesome/free-solid-svg-icons/faFolderOpen"
  import { faPenFancy } from "@fortawesome/free-solid-svg-icons/faPenFancy"
  import { faPrint } from "@fortawesome/free-solid-svg-icons/faPrint"
  import { faScroll } from "@fortawesome/free-solid-svg-icons/faScroll"

  import sort from "../../../lib/sort"
  import { sanitiseMinimalHtml } from "../../../lib/check"

  export default {
    async preload({ params }) {
      const { texte, commission } = params,
        { csrfToken } = this.store.get(),
        res = await this.fetch(`amendements/${texte}/${commission}.json`, {
          credentials: "same-origin",
        }),
        officiel = /^[0-9]+$/.test(texte)
      let { texteMetadata, amendements } = await res.json()

      let textUrl = `www.assemblee-nationale.fr/15/textes/${texte.padStart(4, "0")}.html`,
        fetchTextUrl = officiel ? await this.fetch(textUrl) : null,
        textAvailable = officiel
      if (fetchTextUrl && fetchTextUrl.status !== 200) {
        textUrl = `www.assemblee-nationale.fr/15/textes/${texte.padStart(4, "0")}.asp`
        fetchTextUrl = await this.fetch(textUrl)
        if (fetchTextUrl.status !== 200) {
          textAvailable = false
          textUrl = `www.assemblee-nationale.fr/15/propositions/pion${texte.padStart(4, "0")}.asp`
          fetchTextUrl = await this.fetch(textUrl)
          if (fetchTextUrl.status !== 200) {
            textUrl = `www.assemblee-nationale.fr/15/projets/pl${texte.padStart(4, "0")}.asp`
            fetchTextUrl = await this.fetch(textUrl)
            if (fetchTextUrl.status !== 200) {
              textUrl = null
            }
          }
        }
      }
      if (res.status === 200) {
        amendements.map(
          amendement => {
            if (amendement.amdt_dispositif) {
              amendement.amdt_dispositif = sanitiseMinimalHtml(amendement.amdt_dispositif || "")
            }
            amendement.amdt_expose = sanitiseMinimalHtml(amendement.amdt_expose || "-")
            return amendement
          }
        )
        amendements.sort(sort.sort_amendements)
        let exposes = {}
        amendements.forEach(
          amendement => {
            exposes[amendement.amdt_id] = false
          }
        )
        return { texteId: texte, texteMetadata, commission, amendements,
          textAvailable, textUrl, exposes, csrfToken }
      } else {
        this.error(res.status, amendements.message)
      }
    },

    data() {
      return {
        moveAmendement: null,
        mesamendements: false,
        exposes: {},
        exposesTous: false,
        csrfToken: null,
      }
    },

    components: {
      Icon: "../../../components/Icon.html",
    },

    computed: {
      estResponsable: ({ $auteur, $conseiller, texteMetadata }) => {
        return $conseiller || (texteMetadata.txt_responsables || []).indexOf($auteur) !== -1
      },
    },

    methods: {
      getElementByParentTagName(elem, parentTagName) {
        while (elem && elem.nodeName !== parentTagName) {
          elem = elem.parentElement
        }
        return elem
      },
      dragstart_handler(ev) {
        const { amendements, estResponsable } = this.get()
        if (!estResponsable) {
          ev.preventDefault()
          return
        }
        // Construct the map amendementId => position
        let mapAmendements = []
        for (let i = 0; i < amendements.length; i++) {
          mapAmendements[amendements[i].amdt_id] = i
        }
        const origId = ev.target.id.substring(11),
          placeOrigId = mapAmendements[origId],
          origAmendement = amendements[placeOrigId],
          amendementsMemeDivision = amendements.filter(
              x =>
                x.amdt_division.trim() === origAmendement.amdt_division.trim() &&
                x.amdt_division_place === origAmendement.amdt_division_place
            ),
          eligibleAmendements = amendementsMemeDivision
            .filter(
              x =>
                !origAmendement.amdt_alinea
                || (x.amdt_alinea === origAmendement.amdt_alinea &&
                    x.amdt_alinea_place === origAmendement.amdt_alinea_place)
            ),
          eligiblePlaces = eligibleAmendements.map(x => mapAmendements[x.amdt_id]),
          premierePlace = Math.min(...eligiblePlaces),
          dernierePlace = Math.max(...eligiblePlaces),
          movableAmendements = amendements.filter(
              x =>
                premierePlace <= mapAmendements[x.amdt_id] &&
                mapAmendements[x.amdt_id] <= dernierePlace
            )
            .map(x => x.amdt_id)
        const moveAmendement =
          movableAmendements.length === 1
            ? null
            : { origId, movableAmendements, mapAmendements }
        this.set({ moveAmendement })
        // If there is some line to move
        if (moveAmendement) {
          ev.currentTarget.style.border = "2px dotted black"
          ev.dataTransfer.setData("text/plain", ev.target.id.substring(11))
          ev.effectAllowed = "move"
          ev.dataTransfer.dropEffect = "move"
        } else {
          ev.preventDefault()
        }
      },
      dragover_handler(ev) {
        const { moveAmendement, estResponsable } = this.get(),
          node = this.getElementByParentTagName(ev.target, "TR"),
          origId = moveAmendement ? moveAmendement.origId : null,
          thisId = node.id.substring(11)
        if (!estResponsable) {
          return
        }
        // Inside this if are authorised movable lines
        if (
          origId &&
          thisId !== origId &&
          moveAmendement.movableAmendements.indexOf(thisId) !== -1
        ) {
          // We move before the original line
          if (
            moveAmendement.mapAmendements[thisId] <
            moveAmendement.mapAmendements[origId]
          ) {
            node.style.borderTop = "3px solid black"
          } else {
            node.style.borderBottom = "3px solid black"
          }
          ev.preventDefault()
        }
      },
      dragleave_handler(ev) {
        const { moveAmendement, estResponsable } = this.get(),
          node = this.getElementByParentTagName(ev.target, "TR"),
          origId = moveAmendement ? moveAmendement.origId : null,
          thisId = node.id.substring(11)
        if (!estResponsable) {
          return
        }
        if (
          origId &&
          thisId !== origId &&
          moveAmendement.movableAmendements.indexOf(thisId) !== -1
        ) {
          node.style.borderBottom = ""
          node.style.borderTop = ""
          ev.preventDefault()
        }
      },
      drop_handler(ev) {
        const { moveAmendement, estResponsable, texteId, commission, csrfToken } = this.get(),
          node = this.getElementByParentTagName(ev.target, "TR"),
          origId = moveAmendement.origId,
          thisId = node.id.substring(11)
        let { amendements } = this.get()
        if (!estResponsable) {
          return
        }

        const removedItem = amendements.splice(
          moveAmendement.mapAmendements[origId],
          1,
        )
        amendements = amendements
          .slice(0, moveAmendement.mapAmendements[thisId])
          .concat(removedItem)
          .concat(amendements.slice(moveAmendement.mapAmendements[thisId]))
        const amendementsIds = amendements
          .filter(
            x =>
              x.amdt_division === removedItem[0].amdt_division
              && x.amdt_division_place === removedItem[0].amdt_division_place)
          .map(x => x.amdt_id)

        // eslint-disable-next-line no-undef
        fetch("/envoi/tri", {
          body: JSON.stringify({
            texteId,
            commission,
            amendementsIds,
          }),
          credentials: "same-origin",
          method: "POST",
          headers: {
            "Content-Type": "application/json; charset=utf-8",
            "CSRF-Token": csrfToken,
          },
        })

        this.set({ amendements })

        node.style.borderBottom = ""
        node.style.borderTop = ""

        ev.preventDefault()
      },
      dragend_handler(ev) {
        const { estResponsable } = this.get()
        if (!estResponsable) {
          ev.preventDefault()
          return
        }
        this.set({ moveAmendement: null })
        ev.target.style.border = "0px"
      },
      handleSubmit(ev) {
        // prevent the page from reloading
        ev.preventDefault()
      },
      handleClickSort(amendementId, elem) {
        const { texteId, commission, csrfToken } = this.get(),
          sort = elem.value
        // eslint-disable-next-line no-undef
        fetch("/envoi/sort", {
          body: JSON.stringify({
            texteId,
            commission,
            amendementId,
            sort,
          }),
          credentials: "same-origin",
          method: "POST",
          headers: {
            "Content-Type": "application/json; charset=utf-8",
            "CSRF-Token": csrfToken,
          },
        }).then(s => {
          if (s.status === 200) {
            const { amendements } = this.get(),
              amendement = amendements.findIndex(t => t.amdt_id === amendementId)
              amendements[amendement].amdt_sort = sort
              this.set({ amendements })
          } else {
            s.json().then(console.log)
          }
        })
      },
      afficheExpose(amdt_id) {
        let { exposes } = this.get()
        exposes[amdt_id] = !exposes[amdt_id]
        this.set({ exposes })
      },
      afficheExposes() {
        let { exposes, exposesTous } = this.get()
        exposesTous = !exposesTous
        for (let k of Object.keys(exposes)) {
          exposes[k] = exposesTous
        }
        this.set({ exposes, exposesTous })
      },
    },

    helpers: {
      faVoteYea,
      faFileExcel,
      faFolderOpen,
      faPenFancy,
      faPrint,
      faScroll,
      sanitiseMinimalHtml,
      raccourci_division_place({ amdt_division, amdt_division_place }) {
        if (amdt_division && amdt_division.substring(0, 8) === "Article ") {
          if (amdt_division_place == "APRES") {
            return "ap. "
          } else if (amdt_division_place == "AVANT") {
            return "av. "
          }
        }
        return ""
      },
      raccourci_division({ amdt_division }) {
        if (amdt_division && amdt_division.substring(0, 8) === "Article ") {
          return amdt_division.substring(8)
        }
        return amdt_division
      },
      raccourci_alinea_place({ amdt_alinea_place }) {
        if (amdt_alinea_place === "APRES") {
          return "ap. "
        } else if (amdt_alinea_place === "AVANT") {
          return "av. "
        }
        return ""
      },
      raccourci_alinea({ amdt_alinea, amdt_division_place }) {
        if (amdt_division_place == "SUPPRESSION") {
          return "S"
        } else if (amdt_division_place == "REDACTION_GLOBALE") {
          return "RG"
        }
        return amdt_alinea ? "al. " + amdt_alinea : ""
      },
      raccourci_etat(etat) {
        if (etat === "BROUILLON") {
          return "brouillon"
        } else if (etat === "DEPOSE") {
          return "proposé"
        } else if (etat === "DISCUTE") {
          return "discuté"
        } else if (etat === "RETIRE") {
          return "retiré"
        }
        return ""
      },
    },
  }

  // vim: set ts=2 sw=2 sts=2 et:
</script>
