  {#if ["messageDocument", "messagePhoto", "messageText"].includes(contentType) || dev}
    <div class="text-gray-600 text-xs mx-4 h-6 block">{frenchTimeFormat.format(message.date * 1000)}</div>
    <!-- {#if showSender}
      <b>{senderName}</b>
    {/if} -->
  {/if}
  <div class="mr-4 {color ? `text-${color}` : ""}">
  {#if contentType === "messageDocument"}
    {#if message.content.document.document.local.is_downloading_completed}
      {#if message.content.document.thumbnail
        && message.content.document.thumbnail.photo.local.is_downloading_completed
      }
        <img
          alt="Vignette de {message.content.document.file_name}"
          class="inline"
          src="{message.content.document.thumbnail.photo.local.url}"
        >
      {/if}
      <a class="text-blue underline" href="{message.content.document.document.local.url}">{message.content.document.file_name}</a>
    {/if}
  {:elseif contentType === "messagePhoto"}
    <div>
      {#if message.content.photo.sizes[0].photo.local.is_downloading_completed}
        <img alt="Image" src="{message.content.photo.sizes[0].photo.local.url}">
      {/if}
      {#if message.content.caption}
        <TelegramMessageFormattedText formattedText={message.content.caption}/>
      {/if}
    </div>
  {:elseif contentType === "messageText"}
    <div>
      <TelegramMessageFormattedText formattedText={message.content.text}/>
      {#if message.content.web_page}
        <div class="b-1 b-rounded bg-gray-200 my-3 p-3">
          <h4 class="text-xl"><a href="{message.content.web_page.url}" target="_blank">{message.content.web_page.site_name}</a></h4>
          <h5 class="text-lg">{message.content.web_page.title}</h5>
          <div>{message.content.web_page.description}</div>
          {#if message.content.web_page.photo && message.content.web_page.photo.sizes[0].photo.local.is_downloading_completed}
            <a href="{message.content.web_page.url}" target="_blank">
              <img alt="Image" src="{message.content.web_page.photo.sizes[0].photo.local.url}">
            </a>
          {/if}
        </div>
      {/if}
    </div>
  {:elseif dev}
    <pre>
      {JSON.stringify(message, null, 2)}
    </pre>
  {/if}
</div>

<script>
  import { frenchTimeFormat } from "../lib/dates"

  export default {
    components: {
      TelegramMessageFormattedText: "./TelegramMessageFormattedText.html",
    },
    computed: {
      contentType({ message }) {
        return message.content["@type"]
      },
      // senderName({ event }) {
      //   return event.sender ? event.sender.name : event.getSender()
      // },
    },
    data() {
      return {
        color: null,
        dev: process.env.NODE_ENV === "development",
        message: null,
        showSender: true,
      }
    },
    helpers: {
      frenchTimeFormat,
    },
  }
</script>
