<svelte:head>
  <title>Administration des textes</title>
</svelte:head>

<h1 class="font-light tracking-wider text-3xl m-4 uppercase text-center">Administration des textes</h1>

<div class="container mx-auto">

<a href="./textes" class="text-blue underline">&lt; Retour aux textes</a>

{#if $conseiller}
<form action="envoi/texte" method="post" on:submit="handleSubmit(event)">
 <table>
  <tr>
   <td colspan="4">
    Entrez un numéro pour modifier son responsable et son délai de dépôt interne, ou entrez un titre et ses données pour créer un texte en urgence.
   </td>
  </tr>
  <tr>
   <td class="champ"><label>Numéro :</label>
   <td class="valeur" colspan="3"><input type="text" class="champ-numero" on:keyup="loadText()" autocomplete="off"  bind:value="nouveau_numero" name="nouveau_numero" /></td>
  </tr>
  <tr>
   <td class="champ"><label>Titre :</label></td>
   <td class="valeur" colspan="3"><input type="text" bind:value="nouveau_titre" disabled="{nouveau_lecture}" name="nouveau_titre" /></td>
  </tr>
  <tr>
   <td class="champ"><label>Note législative :</label>
   <td class="valeur" colspan="3"><input type="text" bind:value="nouveau_note_leg" name="nouveau_note_leg" /></td>
  </tr>
  <tr>
   <td class="champ"><label>Séance :</label>
   <td class="valeur">
    <input type="checkbox" bind:checked="nouveau_seance" disabled="{nouveau_lecture}" name="nouveau_seance" class="valeur" />
   </td>
   <td class="date">
    <input type="date" bind:value="nouveau_depot_seance" disabled="{!nouveau_seance}" name="nouveau_depot_seance" />
   </td>
   <td class="cloture">
    {#if nouveau_seance}
    <label>
     <input type="checkbox" bind:checked="nouveau_ouverture_seance" name="nouveau_ouverture_seance" disabled="" /> {#if nouveau_ouverture_seance}(OUVERT){:else}(FERMÉ){/if}
    </label>
    {/if}
   </td>
  </tr>
  <tr>
   <td class="champ"><label>Commission de fond :</label>
   <td class="valeur">
    <select bind:value="nouveau_comm_fond" name="nouveau_comm_fond" on:change="changeCommAvis()" disabled="{nouveau_lecture}" class="valeur"><option value=""></option>{#each ordreCommissions as commId}<option value="{commId}">{commissions[commId]}</option>{/each}</select>
   </td>
   <td class="date">
    <input type="date" bind:value="nouveau_depot_comm_fond" disabled="{!nouveau_comm_fond}" name="nouveau_depot_comm_fond" />
   </td>
   <td class="cloture">
    {#if nouveau_comm_fond}
    <label>
     <input type="checkbox" bind:checked="nouveau_ouverture_comm_fond" name="nouveau_ouverture_comm_fond" disabled="" /> {#if nouveau_ouverture_comm_fond}(OUVERT){:else}(FERMÉ){/if}
    </label>
    {/if}
   </td>
  </tr>
  {#each ordreCOMPER as commId}
  <tr>
   {#if commId === ordreCOMPER[0]}
   <td class="champ" rowspan="{ordreCOMPER.length}"><label>Commissions pour avis :</label></td>
   {/if}
   <td class="valeur">
     <label>
      <input type="checkbox" bind:group="nouveau_comm_avis" name="nouveau_comm_avis" value="{commId}" disabled="{nouveau_comm_fond == commId || nouveau_lecture}" /> {commissions[commId]}
     </label>
   </td>
   <td class="date">
     <input type="date" id="nouveau_depot_comm_avis_{commId}" disabled="{nouveau_comm_avis.indexOf(commId) === -1}" on:change="date_depot_comm_avis(commId, event)" />
   </td>
   <td class="cloture">
    {#if nouveau_comm_avis.indexOf(commId) !== -1}
    <label>
     <input type="checkbox" bind:group="nouveau_ouverture_comm_avis" name="nouveau_ouverture_comm_avis" value="{commId}" disabled="" /> {#if nouveau_ouverture_comm_avis.indexOf(commId) !== -1}(OUVERT){:else}(FERMÉ){/if}
    </label>
    {/if}
   </td>
  </tr>
  {/each}
  <tr>
   <td class="champ"><label>Responsable du texte :</label>
   <td class="valeur" colspan="3">
    {#each nouveau_respos_texte as respo, i}
    <select name="nouveau_respos_texte[]" on:change="ajouteResp(i, this)">
     <option value=""></option>
     {#each deputes as depute}<option value="{depute.aut_id}" selected="{respo === depute.aut_id}">{depute.aut_civ} {depute.aut_prenom} {depute.aut_nom}</option>{/each}
    </select><br />
    {/each}
    <select bind:value="nouveau_respo_texte" name="nouveau_respo_texte" on:change="ajouteResp(-1, this)">
     <option value=""></option>
     {#each deputes as depute}<option value="{depute.aut_id}">{depute.aut_civ} {depute.aut_prenom} {depute.aut_nom}</option>{/each}
    </select>
   </td>
  </tr>
  {#if /^TEMP[0-9]+$/.test(nouveau_numero)}
  <tr>
   <td class="champ"><label>Fusionner dans :</label>
   <td class="valeur" colspan="3"><input type="text" bind:value="nouveau_texte_fusion" disabled="{!/^TEMP[0-9]+$/.test(nouveau_numero)}" name="nouveau_texte_fusion" class="champ-numero" /></td>
  </tr>
  {/if}
  <tr>
   <td class="champ"></td>
   <td class="valeur" colspan="3"><input type="submit" disabled="{!nouveau_titre}" value="{/^(?:TEMP)?[0-9]+$/.test(nouveau_numero) ? "Mettre à jour" : "Créer"}" class="bg-vert hover:bg-vert-dark font-bold py-2 px-4 rounded text-white uppercase" on:click="handleCreate()" /></td>
  </tr>
 </table>
</form>
{/if}

</div>

<style>
  table {
    width: 100%;
  }
  input {
    border: 1px solid gray;
  }
  input[type="text"] {
    width: 100%;
  }
  td {
    padding: 1px 0.2em;
    vertical-align: middle;
    white-space: nowrap;
  }
  input.champ-numero {
    width: 10em;
  }
  td.valeur, td.valeur select {
    width: 16em;
  }
  td.champ, td.date {
    width: 5em;
  }
</style>

<script>
  import * as sapper from "../../../__sapper__/client.js"
  import "isomorphic-fetch" // Required for old Safari versions.

  import { COMPER, CNPS } from "../../lib/data"
  import { dateToLocalIso8601String } from "../../lib/dates"

  export default {
    async preload() {
      const { csrfToken } = this.store.get(),
        resTextes = await this.fetch("textes.json", {
          credentials: "same-origin",
        }),
        resDeputes = await this.fetch("auteurs.json", {
          credentials: "same-origin",
        }),
        textes = await resTextes.json(),
        deputes = await resDeputes.json()

      const commissions = Object.assign(Object.assign({"Séance publique": "Séance publique"}, COMPER), CNPS),
        ordreCommissions = Object.keys(commissions).sort((a, b) => {
          if (a in COMPER || b in COMPER) {
            return a in COMPER
              ? b in COMPER
                ? COMPER[a].replace(/é/g, "e") < COMPER[b].replace(/é/g, "e")
                  ? -1
                  : 1
                : -1
              : 1
          } else if (a in CNPS || b in CNPS) {
            return a in CNPS
              ? b in CNPS
                ? CNPS[a].replace(/é/g, "e") < CNPS[b].replace(/é/g, "e")
                  ? -1
                  : 1
                : -1
              : 1
          } else if (a === "Séance publique") {
            return b === "Séance publique" ? 0 : 1
          } else {
            a = a.replace(/é/g, "e")
            b = b.replace(/é/g, "e")
            return a < b ? -1 : 1
          }
        }),
        ordreCOMPER = ordreCommissions.filter(x => COMPER[x] !== undefined)

      if (resTextes.status === 200 && resDeputes.status === 200) {
        return { textes, deputes, commissions, ordreCommissions, COMPER, CNPS, ordreCOMPER, csrfToken }
      } else {
        this.error(resTextes.status, textes.message)
      }
    },

    data() {
      const aujourdhui = new Date()
      let demain = new Date()
      demain.setDate(aujourdhui.getDate() + 1)
      return {
        nouveau_lecture: false,
        nouveau_numero: null,
        nouveau_titre: null,
        nouveau_seance: false,
        nouveau_depot_seance: null,
        nouveau_ouverture_seance: false,
        nouveau_comm_fond: "",
        nouveau_depot_comm_fond: null,
        nouveau_ouverture_comm_fond: false,
        nouveau_comm_avis: [],
        nouveau_depot_comm_avis: {},
        nouveau_ouverture_comm_avis: [],
        nouveau_respos_texte: [],
        nouveau_respo_texte: "",
        nouveau_texte_fusion: null,
        nouveau_note_leg: null,
        csrfToken: null,
      }
    },

    methods: {
      changeCommAvis() {
        const { nouveau_comm_fond } = this.get()
        let { nouveau_comm_avis } = this.get()
        nouveau_comm_avis = nouveau_comm_avis.filter(s => {
          return nouveau_comm_fond != s
        })
        this.set({ nouveau_comm_avis })
      },

      date_depot_comm_avis(commId, event) {
        let { nouveau_depot_comm_avis } = this.get()
        nouveau_depot_comm_avis[commId] = event.srcElement.value
        this.set({ nouveau_depot_comm_avis })
      },

      loadText() {
        const { nouveau_numero, textes } = this.get()
        if (!nouveau_numero) {
          this.set({
            nouveau_titre: null,
            nouveau_seance: false,
            nouveau_depot_seance: null,
            nouveau_ouverture_seance: false,
            nouveau_comm_fond: "",
            nouveau_depot_comm_fond: null,
            nouveau_ouverture_comm_fond: false,
            nouveau_comm_avis: [],
            nouveau_depot_comm_avis: {},
            nouveau_ouverture_comm_avis: [],
            nouveau_respos_texte: [],
            nouveau_respo_texte: "",
            nouveau_lecture: false,
            nouveau_note_leg: null,
          })
          return
        }
        const lines = Object.values(textes)
            .filter(line => line.find(txt => txt.txta_txt == nouveau_numero))
            .map(line => line.find(txt => txt.txta_txt == nouveau_numero)),
          nouveau_titre = (lines.find(() => true) || {}).txt_titre || null,
          nouveau_note_leg = (lines.find(() => true) || {}).txt_url_note || null,
          nouveau_respos_texte =
            (lines.find(() => true) || {}).txt_responsables || [],

          seance = lines.find(line => line.txta_commission === "SEANCE") || {},
          nouveau_seance = lines
            .find(line => line.txta_commission === "SEANCE") !== undefined,
          nouveau_depot_seance_pre = seance
            .txta_date_depot_limite_interne || "",
          nouveau_ouverture_seance = seance
            .txta_amendable || false,

          comm_fond =  lines.find(line => line.txta_statut === "FOND") || {},
          nouveau_comm_fond = comm_fond.txta_commission || "",
          nouveau_depot_comm_fond_pre = comm_fond.txta_date_depot_limite_interne || "",
          nouveau_ouverture_comm_fond = comm_fond.txta_amendable || false,

          comm_avis = lines.filter(line => line.txta_statut === "AVIS"),
          nouveau_comm_avis = comm_avis.map(line => line.txta_commission),
          nouveau_depot_comm_avis_pre = comm_avis
            .map(line => [line.txta_commission, line.txta_date_depot_limite_interne || ""]),
          nouveau_ouverture_comm_avis = comm_avis
            .filter(line => line.txta_amendable)
            .map(line => line.txta_commission)
        const nouveau_depot_seance = nouveau_depot_seance_pre
            ? dateToLocalIso8601String(new Date(nouveau_depot_seance_pre))
            : null,
          nouveau_depot_comm_fond = nouveau_depot_comm_fond_pre
            ? dateToLocalIso8601String(new Date(nouveau_depot_comm_fond_pre))
            : null
        let nouveau_depot_comm_avis = {}
        for (let comm of nouveau_depot_comm_avis_pre) {
          nouveau_depot_comm_avis[comm[0]] = comm[1] ? dateToLocalIso8601String(new Date(comm[1])) : null
          // Not possible to have a dynamical bind:value in a #each
          // eslint-disable-next-line no-undef
          const elem = document.getElementById("nouveau_depot_comm_avis_"+comm[0])
          if (elem) {
            elem.value = nouveau_depot_comm_avis[comm[0]]
          }
        }
        this.set({
          nouveau_titre,
          nouveau_seance,
          nouveau_depot_seance,
          nouveau_ouverture_seance,
          nouveau_comm_fond,
          nouveau_depot_comm_fond,
          nouveau_ouverture_comm_fond,
          nouveau_comm_avis,
          nouveau_depot_comm_avis,
          nouveau_ouverture_comm_avis,
          nouveau_note_leg,
          nouveau_respos_texte,
          nouveau_respo_texte: "",
          nouveau_lecture: /^(?:TEMP)?[0-9]+$/.test(nouveau_numero),
        })
      },

      handleSubmit(event) {
        // prevent the page from reloading
        event.preventDefault()
      },

      async handleCreate() {
        const {
          nouveau_numero,
          nouveau_titre,
          nouveau_seance,
          nouveau_depot_seance,
          nouveau_ouverture_seance,
          nouveau_comm_fond,
          nouveau_depot_comm_fond,
          nouveau_ouverture_comm_fond,
          nouveau_comm_avis,
          nouveau_depot_comm_avis,
          nouveau_ouverture_comm_avis,
          nouveau_respos_texte,
          nouveau_note_leg,
          nouveau_date_depot_limite,
          csrfToken,
        } = this.get()
        // eslint-disable-next-line no-undef
        const envoiTexte = await fetch("/envoi/texte", {
          body: JSON.stringify({
            nouveau_numero,
            nouveau_titre,
            nouveau_seance,
            nouveau_depot_seance,
            nouveau_ouverture_seance,
            nouveau_comm_fond,
            nouveau_depot_comm_fond,
            nouveau_ouverture_comm_fond,
            nouveau_comm_avis,
            nouveau_depot_comm_avis,
            nouveau_ouverture_comm_avis,
            nouveau_respos_texte,
            nouveau_note_leg,
            nouveau_date_depot_limite,
          }),
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json; charset=utf-8",
            "CSRF-Token": csrfToken,
          },
          method: "POST",
        })
        if (envoiTexte.status === 200) {
          sapper.goto("/textes")
        }
      },

      ajouteResp(i, elem) {
        let { nouveau_respos_texte, nouveau_respo_texte } = this.get()
        if (i >= 0 && !elem.value) {
          nouveau_respos_texte.splice(i, 1)
        } else if (i >= 0) {
          nouveau_respos_texte[i] = elem.value
        } else if (i === -1 && elem.value) {
          nouveau_respos_texte.push(nouveau_respo_texte)
        }
        this.set({ nouveau_respos_texte, nouveau_respo_texte: "" })
      },
    },
  }

  // vim: set ts=2 sw=2 sts=2 et:
</script>
