<script>
	import { onMount } from 'svelte';
	import TromboGrid from './TromboGrid.svelte';
	
	const dataurl = 'https://groupe-larem.fr/open_data/deputes_et_organes.json'
	let deputesEtOrganes = null;
	onMount(async () => {
		const res = await fetch(dataurl, {mode: 'cors'});
		deputesEtOrganes = await res.json();
	});
</script>

{#if deputesEtOrganes === null}
	<p>loading problem...</p>
{:else}
	<TromboGrid {deputesEtOrganes}/>
{/if}
    