<script>
	export let depute = null;
	export let photo = null;
	export let commissionPermanente = null;
	
	$: prenom = depute.etatCivil.ident.prenom;
	$: nom = depute.etatCivil.ident.nom;
	$: login = prenom.substring(0,1).toLowerCase()+"."+ nom.substring(0,6).toLowerCase();	
	$: depCirco = depute.departementCirco.toUpperCase();
	$: commissionAbregee = (commissionPermanente || {}).libelleAbrege;
	
</script>
    
<style>
        	
				.smallcard  {
						top                 : 0px;
						left                : 0px;
						height              : 77px;
						width               : 316px;
						box-sizing          : border-box;
						position            : relative;
						border-radius       : 3px;
						border-style        : solid;
						border-width        : 2px;
						border-color        : rgba(228, 230, 231, 0.5);
						background-color    : rgba(255, 255, 255, 1.0);
					}
				.smallcard:hover {
						box-sizing          : border-box;
						position            : relative;
						border-radius       : 1px;
						border-style        : solid;
						border-width        : 3px;
						border-color        : rgba(121, 151, 165, 0.2);
					}
				.smallcard figure {
            /*width							: 100%;*/
						width								: 100px;
						height							: 100px;
						margin-left					: auto;
    				margin-right				: auto;
						
        }
					.smallcard figure .img-photo {
						width								: 50px;
						height							: 50px;
						border							: 1px solid #CBCDCE;
						border-radius				: 50%;
						position						: relative;
						margin-left					: auto;
    				margin-right				: auto;
						margin-top					: auto;
    				margin-bottom				: auto;
						box-shadow					: inset 0 1px 3px 0 rgba(203,205,205,0.50);
						background-repeat		: no-repeat;
   					background-position	: center center;
   					background-size			: cover;
					}
	.smallcard figure .img-background_bleu {
						width								: 50px;
						height							: 50px;
						background					: #AFE7FE;
						border							: 1px solid #CBCDCE;
						border-radius				: 50%;
						position						: absolute;
						margin-left					: auto;
    				margin-right				: auto;
						margin-top					: auto;
    				margin-bottom				: auto;
						box-shadow					: inset 0 1px 3px 0 rgba(203,205,205,0.50);
						background-repeat		: no-repeat;
   					background-position	: center center;
   					background-size			: cover;
					}
	.smallcard figure .img-photo_default {
						width								: 50px;
						height							: 50px;
						background					: #CBCDCE;
						border							: 1px solid rgba(121, 151, 165, 0.2);
						border-radius				: 50%;
						position						: absolute;
						margin-left					: auto;
    				margin-right				: auto;
						margin-top					: auto;
    				margin-bottom				: auto;
						box-shadow					: inset 0 1px 3px 0 rgba(203,205,205,0.50);
						background-repeat		: no-repeat;
   					background-position	: center center;
   					background-size			: cover;
					}
				.smallcard figure figcaption {
						background-color    : rgba(255,255,255,0.0);
						margin              : 0;
						font-family         : "Lato", Helvetica, Arial, serif;
						font-style          : normal;
						text-align          : center;
						margin-top          : auto;
    				margin-bottom       : auto;
				}
				.smallcard figure figcaption .login {
						position            : absolute;
						top                 : 140px;
						left                : 16px;
						height              : 22px;
						width               : 158px;
						
						font-weight         : 400;
						font-size           : 22.0px;
						color               : rgba(75, 77, 78, 1.0);
						letter-spacing      : 0.51px;
						line-height         : 13.0px;
				}
				.smallcard .departem {
						position            : absolute;
						top                 : 180px;
						left                : 17px;
						height              : auto;
						width               : 156px;
						font-weight         : 700;
						font-size           : 12.0px;
						color               : rgba(28, 176, 228, 1.0);
						letter-spacing      : 0.3px;
						line-height         : 15.0px;
				}
	.smallcard figure figcaption .commission {
						position            : absolute;
						top                 : 200px;
						left                : 16px;
						height              : 17px;
						width               : 158px;
						font-weight         : 400;
						font-size           : 12.0px;
						color               : rgba(159, 163, 165, 1.0);
						letter-spacing      : 0.28px;
						line-height         : 13.0px;
				}			
</style>		
				
<div class=smallcard>
	<figure>
		{#if !photo}
			<div class="img-photo_default" alt="photo default"></div>
		{:else}
			<div class="img-background_bleu" alt="background"></div>
			<div class="img-photo" style="background-image: url(https://groupe-larem.fr/open_data/{photo.chemin})" alt="photo">		
			</div>
		{/if}
		<figcaption>
			<div class=login>
				{login}
			</div>
			<div class=departem>
				{depCirco || "Dep.inconnu"}
			</div>
			<div class=commission>
				{ commissionAbregee || "inconnue"}
			</div>
		</figcaption>
	</figure>
</div>