/////////////////////////////////////////////////////
////       Dynamic attributes
//////////////////////////////////////////////////////

<script>
	let src = 'tutorial/image.gif';
</script>

<img src={src} alt="A man dances.">

// svelte output
<script>
c: function create() {
			div = element("div");
			img = element("img");
			attr(img, "src", src);
			attr(img, "alt", img_alt_value = "" + name + " dances.");
			add_location(img, file, 6, 1, 95);
			attr(div, "class", "image1");
			add_location(div, file, 5, 0, 73);
		}
</script>


// add position with body
<style>
	body {top : 40px; left : 100px}
</style>
<script>
	let src = 'tutorial/image.gif';
</script>
<body>
	<img src={src} alt="A man dances.">
</body>

// svelte output
<script>
c: function create() {
    body = element("body");
    img = element("img");
    attr(img, "src", src);
    attr(img, "alt", "A man dances.");
    add_location(img, file, 8, 1, 111);
    attr(body, "class", "svelte-137okk2");
    add_location(body, file, 7, 0, 103);
}</script>


//// add position with div
<style>
	.image1 {top : 40px; left : 100px}
</style>
<script>
	let src = 'tutorial/image.gif';
</script>
<div class="image1">
	<img src={src} alt="A man dances.">
</div>

// svelte output

<script>
c: function create() {
			div = element("div");
			img = element("img");
			attr(img, "src", src);
			attr(img, "alt", "A man dances.");
			add_location(img, file, 8, 1, 128);
			attr(div, "class", "image1 svelte-1j8xzmm");
			add_location(div, file, 7, 0, 106);
		}
</script>

/////////////////////////////////////////////////////
////       Making an app
//////////////////////////////////////////////////////
<script>

    import App from './App.svelte';
    
    const app = new App({
        target: document.body,
        props: {
            answer: 42
        }
    });
        </script>

// svelte output

/////////////////////////////////////////////////////
////        Reactive declarations
//////////////////////////////////////////////////////

<script> 
// reactive values
let count = 0;
$: doubled = count * 2;


// reactive statements
$: console.log(`the count is ${count}`);


// reactive blocks
$: {
	console.log(`the count is ${count}`);
	alert(`I SAID THE COUNT IS ${count}`);
}

</script>

// $: has no effect outside of the top-level 
<script>
	let count = 0;
	
	function handleClick() {
		count += 1;
        $: console.log(`the count is ${count}`);
	}
</script>

<button on:click={handleClick}>
	Clicked {count} {count === 1 ? 'time' : 'times'}
</button>

/////////////////////////////////////////////////////
////      Updating arrays and objects : reactivity is triggered by assignments
//////////////////////////////////////////////////////
<script>

    /////// ne marche pas
	let numbers = [1, 2, 3, 4];
    numbers = numbers.push(numbers.length + 1);

    /////// ne marche pas
	let numbers = [1, 2, 3, 4];
	a = numbers.push(numbers.length + 1);
	numbers = a;
    
    /////// ce qui marche comme assignement
	let numbers = [1, 2, 3, 4];
	numbers.push(numbers.length + 1);
	numbers = numbers;
	
    /// ce qui marche avec comprehensions
	numbers = [...numbers, numbers.length + 1];
    
    /// ce qui marche avec assignements for index
	numbers[numbers.length] = numbers.length + 1;
    
    /// ce qui marche avec assignements to properties
    obj.foo = obj.foo + 1;

</script>

/////////////////////////////
//////      Reduce
/////////////////////////////
<script>
let numbers = [1, 2, 3, 4];
$: sum = numbers.reduce((t, n) => t + n, 0);
</script>


/////////////////////////////
//////     Declaring properties with export keyword - pourquoi avec Nested?
/////////////////////////////

// app.svelte
<script>
        import Nested from './Nested.svelte';
    </script>
    
    <Nested answer={42}/>

// Nested.svelte

<script>
        export let answer;
    </script>
    
    <p>The answer is {answer}</p>

///////////////////////////////////
//////        Spread properties
///////////////////////////////////

/// app.svelte
<script>
        import Info from './Info.svelte';
    
        const pkg = {
            name: 'svelte',
            version: 3,
            speed: 'blazing',
            website: 'https://svelte.dev'
        };
    </script>
    
    <Info name={pkg.name} version={pkg.version} speed={pkg.speed} website={pkg.website}/>



/// info.svelte 
<script>
        export let name;
        export let version;
        export let speed;
        export let website;
    </script>
    
    <p>
        The <code>{name}</code> package is {speed} fast.
        Download version {version} from <a href="https://www.npmjs.com/package/{name}">npm</a>
        and <a href={website}>learn more here</a>
    </p>






    ////////////////////////////////////
    <script>
        import { onMount } from 'svelte';
        let datas = {};
        let photos = {};
        onMount(async () => {
            const res1 = await fetch('https://groupe-larem.fr/open_data/deputes_et_organes.json', {mode: 'cors'});
            datas = await res1.json();
        const res2 = await fetch(`https://assemblee.api.tricoteuses.fr/assets/photos_deputes_15/deputes.json`, {mode: 'cors'});
            
        photos = await res2.json();
            
            });
        
        onMount(async () => {
         
        });
    </script>
    
    <style>
        .grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 50px;
        }
    
        figure, img {
            width: 100%;
            margin: 0;
        }
    </style>
    
    <h1>Photo album</h1>
    
    
    <div class="grid">
        <!--{#each photos as photo} -->
        {#each Object.entries(photos) as [key, value]} 
            <figure>	
                <img src= https://assemblee.api.tricoteuses.fr/assets/{value.chemin} alt={"photo"}>
                <!--<img src={value.url} alt={"photo"}> -->
                <figcaption>{datas."deputeByUid".key."etatCivil"."ident"."prenom"}</figcaption>
            </figure>
        {:else}
            <p>loading...</p>
        {/each}
    </div>
    