<script>
	import BigCard from './BigCard.svelte';
	import SmallCard from './SmallCard.svelte';
	export let deputesEtOrganes = null;
	let view = 'big';
	$: deputes = deputesEtOrganes.deputeByUid;
	$: photos = deputesEtOrganes.photoDeputeByUid;
	$: organes = deputesEtOrganes.organeByUid;
</script>
    
<style>
	.big_grid {
		width							: 100%;
		display						: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap					: 1px;
	}		
	.small_grid {
		width							: 100%;
		display						: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap					: 1px;
	}			
</style>



<h1>
	Deputes
</h1>
<label>
	<input type="radio" bind:group={view} value="big">
	Big
</label>
<label>
	<input type="radio" bind:group={view} value="small">
	Small
</label>
<div class="Deputes_index">
	<div class="{view==='big' ? 'big_grid' : 'small_grid'}">
		{#if photos === null}
			<p>loading problem...</p>
		{:else}
			{#each Object.entries(deputes) as [id, depute]}
				{#if view === "big"}
		  		<BigCard {depute} photo={photos[id]} commissionPermanente={organes[deputes[id].commissionPermanenteUid]} />
				{:else}
		  		<SmallCard {depute} photo={photos[id]} commissionPermanente={organes[deputes[id].commissionPermanenteUid]} />
				{/if}
			{/each}
		{/if}
	</div>
</div>
    
